/* Google Fonts */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
}

/* Zadatak 2 - h1 i h2 */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem; /* Zadatak 5 */
    font-weight: 600;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #4CAF50;
}

/* Zadatak 3 - glavni sadržaj */
ul, p {
    background-color: #ECEFF1;
}

/* Paragrafi su već stilizirani inline, ali može stajati općenito */
p {
    margin-bottom: 15px;
}

/* Zadatak 5 - highlight klasa */
.highlight {
    color: #FFC107;
}

/* Zadatak 4 - lista */
ul {
    list-style-type: square;
}

ul li:nth-child(2) {
    list-style-type: circle;
}

ul li:nth-child(3) {
    list-style-type: disc;
}

ul li:nth-child(4) {
    list-style-type: "★ ";
}

.hlapic-img {
    width: 300px;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}




/* 4zadaca */

.card {
    background-color: #87CEEB;
    padding: 20px;
    margin: 20px;
    border: 2px solid #333333;
    border-radius: 6px;
    position: relative;              
    width: 300px;
    display: inline-block;           
    vertical-align: top;
}

/* Naslov */
.card .title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;           
}

/* Paragrafi */
.card p {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #333333;
}

/* Apsolutno pozicionirani paragraf */
.card .info {
    position: absolute;              
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 5px;
}

/* --------- ZASTAVA ŠVEDSKE --------- */

.sweden-flag {
    position: relative;
    width: 300px;
    height: 180px;
    background-color: #006AA7; 
    margin: 40px auto;
}

/* Žuti križ — vertikalni dio */
.sweden-flag .vertical {
    position: absolute;
    background-color: #FECC00;
    width: 40px;
    height: 180px;
    left: 90px;
}

/* Žuti križ — horizontalni dio */
.sweden-flag .horizontal {
    position: absolute;
    background-color: #FECC00;
    width: 300px;
    height: 40px;
    top: 70px;
}
